<div class="uk-background-primary">
    <div class="uk-navbar-container">
        <div class="uk-container">
                <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
                        <div class="uk-navbar-left">
                          
                          <ul class="uk-navbar-nav">
                            <li>
                              <a href="#">Sobre Nós</a>
                              <div class="uk-navbar-dropdown">
                                  <ul class="uk-nav uk-navbar-dropdown-nav">
                                      <li><a href="#">Nossa História</a></li>
                                      <li><a href="#">Objetivos</a></li>
                                      <li><a href="#">Resultados</a></li>
                                  </ul>
                              </div>
                          </li>
                            <li><a href="#">O Clube</a></li>
                            <li><a href="#">Loja</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contato</a></li>
                          </ul>
                        </div>
                        <div class="uk-navbar-center">
                          <ul class="uk-navbar-nav">
                            <a class="uk-navbar-item " href="/">
                              <span class="uk-icon" uk-icon="icon: das-Matas-logo; ratio: 0.15"></span>
                            </a>
                          </ul>
                        </div>
                        <div class="uk-navbar-right">
                          <ul class="uk-navbar-nav">
                            <li>
                              <a href="#">
                                <span class="uk-icon uk-margin-small-right" uk-icon="icon: cart"></span>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <span class="uk-icon uk-margin-small-right" uk-icon="icon: user"></span>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <span class="uk-icon uk-margin-small-right" uk-icon="icon: sign-out"></span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </nav>
        </div>
    </div>
</div>