<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="animation: push">

    <ul class="uk-slideshow-items">
        <li>
            <img src="../../../../assets/images/img-1.jpg" alt="">
            <div class="uk-position-center uk-position-small uk-text-center">
                <h2 uk-slideshow-parallax="x: 100,-0,0">Clube de Assinatura</h2>
                <p uk-slideshow-parallax="x: -500,-0,0">conheça os melhores cafés especiais</p>
            </div>
        </li>
        <li>
            <img src="../../../../assets/images/img-2.jpg" alt="" >
            <div class="uk-position-center uk-position-small uk-text-center">
                <h2 uk-slideshow-parallax="y: -500,0,0; opacity: 1,1,0">Cafés Especiais</h2>
                <p uk-slideshow-parallax="y: 500,0,0; opacity: 1,1,0">cada mês um café especial na sua casa</p>
            </div>
        </li>
    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

</div>